// 全局配色
$color: #2196f3;

// 全局绿色
$green: #8bc34a;

// 全局红色
$red: #f44336;

// 链接hover颜色
$colorHover: #42a5f5;

// 链接点击颜色
$colorActive: #1e88e5;

// 频道导航宽度
$channelNavbarWidth: 235px;
$channelNavbarWidthSmall: 210px;

// 灰色链接字体颜色
$linkGray: #78909c;

// 字体颜色
$fontColor: #546e7a;

// 偏黑标题字体颜色
$titleColor: #212121;

// 偏黑常规字体颜色
$fontNormalColor: #263238;

// 边框颜色
$borderColor: #cfd8dc;

// 浅色边框
$borderPureColor: #ececec;

// 偏灰色边框
$borderGreyColor: #e0e0e0;

// 深灰色边框
$borderDarkGrey: #ccc;

// icon颜色
$iconColor: #9f9f9f;

// error信息颜色
$errColor: #ff5722;

// 首页列表hover颜色
$littleBlue: #e3f2fd;
