// 字体大小
$size20: 20rpx;
$size22: 22rpx;
$size24: 24rpx;
$size28: 28rpx;
$size30: 30rpx;
$size32: 32rpx;
$size34: 34rpx;
$size36: 36rpx;
$size40: 40rpx;
$size48: 48rpx;

// 字体颜色
$color3: #333;
$color6: #666;
$color8: #888;
$color9: #999;
$color35: #353535;
